$color-text-white:#FFFFFF;
$color-bg-white:#FFFFFF;
$color-dark-sand:#948509;
$color-yellow:#FFEA38;
$color-mustard:#E0CB1B;
$color-blue:#1E0094;
$color-light-purple:#ADA2D9;
$color-text-black: black;
$color-buttonPrimary:transparent linear-gradient(180deg, #1E0094 0%, #533ea8 100%);
$color-buttonSecondary:transparent linear-gradient(180deg, #948509 0%, #777137 100%);

