@import "../../scss/Main";

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  height: 15vh;
  background-color: $color-bg-white;
  color: $color-text-black;
  border-top: 3px solid $color-yellow;

  img{
    width: 0.5rem;
  }


}

.footer__text{
  font-weight: 800;
  font-style: italic;
}
.footer__author{
  margin-top: 0.5rem;
}
  .primary{
        align-self: flex-end;
      }